.gpt3__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;
}

.gpt3__features-heading {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
    color: #274472;
}

.gpt3__features-heading h1 {
    font-size: 28px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    margin-right: 24px;
}

.border-right{
    border-right: 1px solid #D3D3D3;
    height: 120px;
}

.gpt3__features-heading p {
    color: #004;
    font-size: 12px;
    font-family: var(--font-family);
}

.gpt3__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
}

@media screen and (max-width: 990px) {
    .gpt3__features {
        flex-direction: row;
    }

    .gpt3__features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}